@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Webkit browsers */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Optional: for better compatibility */
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.button-click {
    @apply active:scale-95 transition-all ease-out active:opacity-75;
  }